<div class="container">
    <div class="card my-5">
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/images/iter_completo_en.png" alt="iter_completo_en">
              </div>
            </div>
          </div>

        <div class="card-body" style="text-align: center;">
            <p><a class="btn btn-default" routerLink="/performance-energetica-ce" routerLinkActive="active"
                role="button">Avanti
                &raquo;</a></p>
        </div>
    </div>

    <div class="card my-5">
        
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/images/iter_parziale_en.png" alt="iter_parziale_en">
              </div>
            </div>
          </div>

        <div class="card-body" style="text-align: center;">
            <p><a class="btn btn-default" routerLink="/tipo-struttura-breve-ce" routerLinkActive="active"
                role="button">Avanti
                &raquo;</a></p>
        </div>
    </div>
</div>
