.btn-default, .btn-default:active, .btn-default:visited {
    background-color: #ce5e59 !important;
    color: white;
  }
  
  .btn-default:hover {
    background-color: #853a36 !important;
    color: white;
  }