<div class="container scelta">

  <label></label>

    <div class="card my-5">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/iter_completo_st.png" alt="iter_completo_st">
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-sm-6" style="text-align: center;">
            <div class="card">
              <div class="card-body">
            <img src="assets\images\parte_strutturale\edificio_singolo.jpg" alt="Generic placeholder image" width="140"
              height="140"><br>
              <label></label>
              <p style="font-size: 20px;"><strong>Edificio singolo</strong></p>
            <p><a class="btn btn-default" routerLink="/edificio-singolo-st" routerLinkActive="active" role="button">Avanti
                &raquo;</a></p>
              </div>
          </div>
          </div>
    
          <div class="col-sm-6" style="text-align: center;">
            <div class="card">
              <div class="card-body">
            <img src="assets\images\parte_strutturale\edificio_in_aggregato.jpg" alt="Generic placeholder image" width="140"
              height="140"><br>
                <label></label>
                <p style="font-size: 20px;"><strong>Edificio in aggregato</strong></p>
            <p><a class="btn btn-default" routerLink="/edificio-in-aggregato-st" routerLinkActive="active"
                role="button">Avanti
                &raquo;</a></p>
              </div>
          </div>
          </div>
    
        </div>

      </div>

      

    </div>  

    <div class="card my-5">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/iter_parziale_st.png" alt="iter_parziale_st">
          </div>
        </div>
      </div>

      <div class="card-body" style="text-align: center;"> 
        <p><a class="btn btn-default" routerLink="/tipo-struttura-breve-st" routerLinkActive="active"
          role="button">Avanti
          &raquo;</a></p>
      </div>
    </div>

</div>