<div class="container ems">

  <!-- PROGRESS BAR -->
  <div class="progress" style="margin-top: 30px">
    <div class="progress-bar-1" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">STEP 1</div>
  </div>
  
  <div class="card my-5">
    <!-- TITOLO -->
    <div class="card-header" style="font-size: 20px; text-align: center">
      <p><strong>Tipologia strutturale EMS</strong></p>
    </div>
    
    <div class="card-body">
      <div class="form-group">
        <!-- SELEZIONA TIPOLOGIA -->
        <select class="form-control" id="edificioInAggregato" name="edificio" (change)="onChange($event.target.value)">
          <option selected disabled>Seleziona la tipologia EMS</option>
          <option [value]="tipoEdificio.id" *ngFor="let tipoEdificio of edificioInAggregato;"
            [disabled]="tipoEdificio.abilitato">
            {{tipoEdificio.id}} - {{ tipoEdificio.tipologiaStrutture }}
          </option>
        </select>

        <!-- PULSANTE -->
        <div class="mbr-section-btn">
          <button class="btn btn-md1 btn-defaultn display-4" routerLink="/tipo-edificio-st"
            routerLinkActive="active">&laquo; Indietro</button>
          <button class="btn btn-md1 btn-default display-4" [disabled]="avantiAbilitato" style="float: right"
            (click)="outputSelezione()">Avanti &raquo;
          </button>
        </div>

      </div>
    </div>
  </div>
</div>