.btn-md1 {
  margin: .8rem .8rem;
}
  
:disabled {
  color: rgb(177, 176, 176);
}

.card-header {
  height: 50px;
}

.btn-default, .btn-default:active, .btn-default:visited {
  background-color: #ce5e59 !important;
  color: white;
}

.btn-default:hover {
  background-color: #853a36 !important;
  color: white;
}

.btn-defaultn, .btn-defaultn:active, .btn-defaultn:visited {
  background-color: #9e9e9e !important;
  color: white;
}

.btn-defaultn:hover {
  background-color: #6e6e6e !important;
  color: white;
}

.progress-bar-1 {
  text-align: center;
  background-color: #5c2a28;
  color: white
}

.progress-bar-2 {
  text-align: center;
  background-color: #893f3b;
  color: white
}

.progress-bar-3 {
  text-align: center;
  background-color: #b7544f;
  color: white
}

.progress-bar-4 {
  text-align: center;
  background-color: #d3706b;
  color: white
}