<main role="main">

  <img class="mx-auto d-block" width="200px" src="assets/images/logo.jpeg" alt="logo">

  <!-- IMMAGINI -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/home.jpeg" alt="home">
      </div>
    </div>
  </div>

  <label></label>
  
  <div class="row">
    <div class="col-md-6 offset-md-2" style="font-size: 14px;">
      <strong>SER</strong>: Seismic and Energy Retrofit of historic buildings è uno strumento rivolto ai professionisti che vogliano essere supportati nella lettura individuale o integrata delle tematiche strutturale ed energetica, nonché coadiuvati nella valutazione delle criticità degli edifici storici e nella pianificazione degli interventi risolutivi, attraverso un approccio il più possibile semplice e sistematico. 
    SER fornisce indicazioni operative, previsioni economiche e valutazioni relative alla compatibilità degli interventi con i criteri di tutela e conservazione del patrimonio storico; permette inoltre di confrontare gli scenari prestazionali pre e post intervento, nonché di effettuare considerazioni sui costi di investimento in modo da assicurare un rapporto costi/benefici efficace e promuovere il più possibile margini di risparmio.
    </div>
    <div class=".col-md-3 .offset-md-3">
      <img src="assets/images/freccia_s.png" routerLink="/tipo-edificio-st" alt="freccia_s" width="180px"><br><br>
      <img src="assets/images/freccia_e.png" routerLink="/scelta-percorso-ce" alt="freccia_e" width="180px">
    </div>
  </div>

  <label></label>
  
</main>